.mapa-container {
  text-align: center;
  padding: 20px;
}

.mapa-titulo {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

/* Caja del mapa para hacerlo responsive */
.mapa-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;

  /* estilisacion del mapa para formato 16:9 */
  padding-top: 56.25%;

  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* estilisacion del iframe del mapa */
.mapa-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}