.carrusel-section {
    background-color: #f8f9fa; /* Color de fondo suave, ajustable al tema */
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carrusel-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    
}

